Form Submission DATA.json
{
  "name": "Form Submission DATA",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA submission ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        -32
      ],
      "id": "9485a683-2a85-454f-b592-21264103ea0a",
      "name": "On form submission",
      "webhookId": "47831a18-f206-4b58-b2e7-efbfd176a77c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0660527c-1f10-4d0c-96b3-e557f3691a8a",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -32
      ],
      "id": "e9f6c2f1-b3da-4e4d-8eec-5a9d480a2f25",
      "name": "is n8n.io email?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6099be4-fef9-478f-89bc-89ea49a1078e",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -128
      ],
      "id": "a13cfad4-61b9-48ad-bb63-3d8045de7bb1",
      "name": "isTrusted:true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6099be4-fef9-478f-89bc-89ea49a1078e",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "4031f1cd-b847-44bf-92ef-90a4e54a0b33",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        64
      ],
      "id": "1101fc15-8dd0-49ce-979b-101674ec8acc",
      "name": "isTrusted:false"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        -32
      ],
      "id": "9fe7cd33-4aa3-489d-828f-24a3ad5277cc",
      "name": "ref"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anayalise the following answer and question and output relevent tags\nQuestion: {{ $json.Question }}\nAnswer: {{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze Question and Answer submissions and generate relevant, descriptive tags that categorize the content based on topics, key concepts, and technical terms. Always provide 4-8 tags as a comma separated list. Keep tags short and focused in individual length.\n\nExample Output:\npartner, partnerships, agency, external contractors, lead referral"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        -32
      ],
      "id": "2ac131d2-6cfc-4602-baf7-3fdf6a08576a",
      "name": "Add tags"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d051b020-bcb2-4184-ae65-2a298266816a",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        192
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PAE8A59dnhOh80Td",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "0y5ac0Dva9Fz3u7o",
          "mode": "list",
          "cachedResultName": "Q&A",
          "cachedResultUrl": "/projects/mhONljjLXBZLBA9V/datatables/0y5ac0Dva9Fz3u7o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('ref').item.json.isTrusted }}",
            "tags": "={{ $json.text }}",
            "name": "={{ $('ref').item.json.Name }}",
            "Email": "={{ $('ref').item.json.Email }}",
            "Answer": "={{ $('ref').item.json.Answer }}",
            "Question": "={{ $('ref').item.json.Question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        -32
      ],
      "id": "980cec11-6eb9-4026-9563-97ee096b32c5",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "is n8n.io email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is n8n.io email?": {
      "main": [
        [
          {
            "node": "isTrusted:true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted:false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:true": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ref": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:false": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8eef092d-414a-48f3-969e-f74fc398f61f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6404e3f2ec3e50d9cef61df05b529ae2a74e9c6c1ef9a5479cb77067027b922"
  },
  "nodeGroups": [],
  "id": "7h05vd7xDYVHSLAe",
  "tags": []
}