workflows/form-submission-workflow.json
{
  "name": "Linkdine Copy+Past",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA submission ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -448,
        96
      ],
      "id": "cceadc4f-9083-4cf3-9c7a-2b0313678945",
      "name": "On form submission",
      "webhookId": "4abb910f-11ca-4bee-8405-56c8e68532bc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0660527c-1f10-4d0c-96b3-e557f3691a8a",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "be1a9e7e-e868-4e75-9f75-f551c942cbe5",
      "name": "is n8n.io email?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6099be4-fef9-478f-89bc-89ea49a1078e",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "ae4d85d7-80b8-4fc0-b97b-9a2c3bb9b0ab",
      "name": "isTrusted:true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6099be4-fef9-478f-89bc-89ea49a1078e",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "4031f1cd-b847-44bf-92ef-90a4e54a0b33",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "2a097129-f4e1-4b7a-9161-ce596a36cdcc",
      "name": "isTrusted:false"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        96
      ],
      "id": "b1de09c6-bc05-44ef-ac22-31f85a0368a4",
      "name": "ref"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anayalise the following answer and question and output relevent tags\nQuestion: {{ $json.Question }}\nAnswer: {{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze Question and Answer submissions and generate relevant, descriptive tags that categorize the content based on topics, key concepts, and technical terms. Always provide 4-8 tags as a comma separated list. Keep tags short and focused in individual length.\n\nExample Output:\npartner, partnerships, agency, external contractors, lead referral"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        96
      ],
      "id": "2185ee5b-2221-4e76-aca8-f82cb0a9bd3c",
      "name": "Add tags"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b7216db-2785-437a-959d-fdfee2f64970",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        320
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PAE8A59dnhOh80Td",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "0y5ac0Dva9Fz3u7o",
          "mode": "list",
          "cachedResultName": "Q&A",
          "cachedResultUrl": "/projects/mhONljjLXBZLBA9V/datatables/0y5ac0Dva9Fz3u7o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('ref').item.json.isTrusted }}",
            "tags": "={{ $json.text }}",
            "name": "={{ $('ref').item.json.Name }}",
            "Email": "={{ $('ref').item.json.Email }}",
            "Answer": "={{ $('ref').item.json.Answer }}",
            "Question": "={{ $('ref').item.json.Question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        800,
        96
      ],
      "id": "4e8609da-4c29-4a65-b7f9-4de20ae66f8a",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "is n8n.io email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is n8n.io email?": {
      "main": [
        [
          {
            "node": "isTrusted:true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted:false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:true": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:false": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ref": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8bd8d759-3680-4659-835c-9ac95635bcb6",
  "meta": {
    "instanceId": "f6404e3f2ec3e50d9cef61df05b529ae2a74e9c6c1ef9a5479cb77067027b922"
  },
  "nodeGroups": [],
  "id": "Njy4QyStvIfCjx6G",
  "tags": []
}
